/* The element that fradulently dropped a cookie is animated to zoom on hover.
 */
body {
  min-width: 600px;
  overflow-x: hidden;
}

.program-icon {
  border: 1px solid black;
  vertical-align: middle;
  height: 30px;
  width: 59px;
  margin-left: 25%;
  margin-right: 25%;
}

p {
  margin-left: 2%;
  margin-bottom: auto;
}

.delete-button {
  float: right;
  margin-right: 2%;
  background-color: rgb(4, 190, 4) !important;
  border-color: #09ab01 !important;
}

.hide {
  display: None;
}

.visible {
  display: block;
}

